body {
    font-family: Arial, sans-serif; 
    background-color: #ffffb5; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    margin-top: 30px; 
    margin-left: 40px; 
    margin-bottom: 30px; 
    margin-right: 30px; 
}

div {
    max-width: 600px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    text-align: center;
    padding: 20px;
}

h2 {
    color: rgb(159, 58, 159);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 50px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #1800cf; 
}

td {
    background-color: #ffffe0; 
}
